.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  gap: 20px;
}

.main textarea {
  padding: 6px 8px;
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  min-width: 300px;
  gap: 6px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  min-width: 300px;
}

.formItem {
  display: flex;
  align-items: flex-start;
}

.tips {
  font-size: 12px;
  color: #999999;
}

.example {
  display: flex;
}

.example-label {
  line-height: 24px;
}

.example-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 6;
  row-gap: 6;
}

.output {
  flex: 1;
  height: 100%;
}

.output textarea {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 700px;
}

.footer {
  position: fixed;
  line-height: 42px;
  bottom: 0;
  width: 100%;
  height: 42px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

  .config {
    width: 100%;
  }

  .form,
  .main .textarea {
    width: 100%;
  }

  .footer {
    position: relative;
  }
}
